
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f3f4f6;
    font-family: Arial, sans-serif;
    padding: 0 20px; /* Añadido para evitar bordes pegados */
}
.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ajuste para adaptarse mejor en pantallas pequeñas */
    max-width: 400px; /* Tamaño máximo para una mejor apariencia */
}
.display {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    text-align: right;
    padding: 0 10px;
    font-size: 24px;
    border: none;
    background-color: #f3f4f6;
    border-radius: 5px;
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.btn {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e2e8f0;
    transition: background-color 0.3s ease;
}
.btn:active {
    background-color: #cbd5e0;
}
.operator {
    background-color: #fbbf24;
}
.operator:active {
    background-color: #f59e0b;
}
.equal {
    background-color: #34d399;
    grid-column: span 2;
}
.equal:active {
    background-color: #10b981;
}
.clear {
    background-color: #f87171;
}
.clear:active {
    background-color: #ef4444;
}
